h1, h2, h3, h4  {
  /* font-family: 'Sanchez', serif; */
  font-family: 'Raleway', sans-serif !important;
  font-weight: 100;
}

footer {
  font-weight: 200;
}

.bootblog4-brand {
  text-align: left;
}

body {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400;
}

.help-block {
  color: rgb(115, 115, 115);
}

div.align-center {
  text-align: center;
}

.col-form-label {
  text-align: right;
  font-weight: 700;
}

.liberapay-btn {
  margin-top: 20px;
}

p.caption {
  font-weight: 100;
  padding-top: 0.2em;
  padding-bottom: 1em;
}

img.thumbnail.img-responsive {
  margin-bottom: 0.2em;
  margin-top: 1em;
}

#blog-title {
  font-weight: 700;
  font-size: 60px;
  font-family: 'Raleway', sans-serif !important;
  color: #fff;
}

h1 { font-weight: 700; }

div.subtitle {
  font-weight: 100;
  font-size: 250%;
  font-style: italic;
  text-align: right;
}

h-entry h2, .h-entry h3 { font-weight: 100; }

body .well p, .container .well p, .container-fluid .well p, body .jumbotron p, .container .jumbotron p, .container-fluid .jumbotron p {font-weight: 400;}

p, li {
  text-align: justify;
  font-weight: 400;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  /* font-family: 'Slabo 27px', serif; */
}

.body-content{
  max-width: 48em;
}

legend {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e5e5e5;
  margin-top: 2em;
}

.lead{
  font-weight: 200;
}

.light {
  font-weight: 200;
}

/* .e-content > div > p: first-child: first-line, */
p.ad:first-line {
  /* text-transform: uppercase; */
  font-variant: small-caps;
  position: relative;
  /* font-size: 0.95em; */
  letter-spacing: 1px;
}

@media screen {
  /* bug on chrome print */
  p.ad:first-letter
  {
    letter-spacing: 0;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    /* color: #628fbe;*/
    font-weight: 400;
    font-size: 3em;
    float: left;
    margin: 0.13em 0.1em 0 0;
    line-height: 0.7;
  }
}

div.section > p {
  text-align: justify;
}

.noborder {
  border: 0 px;
}

.figure.align-center img {
  padding:1px;
  border:1px solid #021a40;
  background-color:#fff;

}

.p-summary ul > li,
.e-content ul > li {
  list-style: none;
  list-style-type: none;

  ol > li {
    padding-left: 0.5rem;
    margin-left: -1.5rem;
  }
}

.e-content div.admonition > ul {
  padding-left: 3rem;
}

.p-summary dd > ul:only-child,
.e-content dd > ul:only-child {
  padding-left: 2rem;
}

.p-summary ul > li::before,
.e-content ul > li::before {
  text-indent: -2.3rem;
  content: "—  ";
  display: block;
  float: left;
}

div.topic, div.toc {
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  margin: 0 0 2.5rem 0;
  padding: 1rem 1rem;
  font-size: 80%;
  background-color: #f2f2f2;

  ul {
    padding-left: 2rem;
  }

  ul > li {
    list-style: none;
  }

  ul > li::before {
    text-indent: -1rem;
    content: "- ";
    display: block;
    float: left;
  }
}

p.quote, p.quote-en  {
  font-size: 2em;
  font-style: italic;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  position: relative;
  margin: 0.5em;
  padding: 1em 1em 0.5em 3em;
  text-align: justify;
}

p.quote::before, 
p.quote-en::before {
  position: absolute;
  content: "“";
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 4em;
  line-height: 1;
  color: #009688;
  top: 0.05em;
  left: 0;
}

p.quote::after,
p.quote-en::after {
  position: absolute;
  content: "”";
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 4em;
  color: #009688;
  line-height: 1;
  float: right;
  bottom: 0;
  right: 0;
}

.bootblog4-right-nav, .bootblog4-right-nav > nav,  .nbb-header {
  background-color: #009688 !important;
  border: 0 px;
  color: #fff;
}

a {
  color: #009688;
}

h2 {
  color: #333;
  font-size: 250%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

h3 { font-size: 180%; font-style: italic;}

h4 { font-size: 150%; }

.navbar ul li a {
  color: #fff !important;
  text-decoration: none;
  display: block;
  outline: 0;
  /* text-align: right;
  margin-right: 1em;
  padding: 20px 0px 0px 0px; */
  font-weight: 400;
}

a:not(:has(img)):hover, a:not(:has(img)):focus {
  background-color: #bef9cb;
  color: #333;
  text-decoration: none;
}

.e-content a:not(:has(img)) {
  background: transparent none repeat scroll 0 0;
  border-bottom: 3px solid #cbf8df;
  box-shadow: 0 -4px 0 #bef9cb inset;
  color: #333;
  text-decoration: none;
  transition: background 150ms ease 0s;
  outline: none;
}

.e-content h2 > a, .e-content h3 > a, .e-content h4 > a{
  /* No decoration on hx titles */
  text-decoration: none;
  border-bottom: 0 px;
  box-shadow: 0 0 0 0;
}

.e-content  a:not(:has(img)):hover, .e-content a:not(:has(img)):focus {
  background: #bef9cb none repeat scroll 0 0;
  text-decoration: none;
  color: inherit;
}

.navbar-inverse .navbar-nav > .active > a  {
  font-weight: 400 !important;
  color: #bef9cb !important;
  background-color: #009688 !important;
}

.float-right {
  margin-left: 1em;
}

/* Hide secondary superfluous hyperlink */
.headerlink + .headerlink {
  display: none;
}

.headerlink:hover {
  opacity: 1;
  /* background: #ddd; */
  color: #ccc !important;
  text-decoration: none;
  font-weight: 100;
}

.headerlink {
  opacity: 0;
  color: #ccc !important;
  margin-left: 0.2em;
  padding: 0 0.2em;
  font-weight: 100;
}

/* Move sphinxsidebar on top of article content */
.document {
  display: flex;
  flex-direction: column;
}

.documentwrapper{
  order: 2;
}

.sphinxsidebar{
  order: 1;
}

/* restyle table of content */
.sphinxsidebarwrapper > .current{
  font-size: 90%;
}

/* hide unwanted content from sphinx doc*/
p.logo, h1.logo, p.blurb, h3#navigation, div.relations, div.footer {
  display: none;
}

/* Header permalinks */
h1:hover .headerlink, h2:hover .headerlink,
h3:hover .headerlink, h4:hover .headerlink,
h5:hover .headerlink, h6:hover .headerlink {
  display: inline;
}

div.important p.admonition-title {
  background-color: rgb(246, 221, 183);
}

div.tip p.admonition-title {
  background-color: rgb(197, 237, 167);
}

.kbd {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.1em 0.5em;
  margin: 0 0.2em;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
}

.qrcode, .print-only {
  display: none;
}

/*
@media (max-width: 767px) {
}

@media (min-width: 768px) {
}
*/

@media (min-width: 992px) {
  body { font-size: 18px; }
}

@media (min-width: 1200px) {
  body { font-size: 18px; }
}

@media print {
  @page {
    size: A4;
    margin: 2.5cm;

    @bottom-left {
      content: counter(page) "/" counter(pages);
    }
  }

  html, body {
    width: 210mm;
    height: 297mm;
  }

  .body-content{
    max-width: 22cm;
    width: 100%;
  }

  body, article {
    margin: 0;
    padding: 0;
    /*float: none;*/
    font-size: 18pt;
  }

  ul, img, a, blockquote, div.admonition {
    page-break-inside: avoid !important;
  }

  img {
    max-width: 100% ! important;
    max-height: 12cm;
    object-fit: contain;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  page-break-inside: avoid }

  video, .blog-header, .hidden-print, .pager, nav, .navbar-toggler, .metadata,
  .youtube-video, .screen-only, #player, .html5-video-player, .ytp-embed
  {
    display: none;
  }

  article a {
    font-weight: bolder;
    text-decoration: none;
  }

  article a[href^=http]:after {
    content: " <" attr(href) "> ";
  }

  article a[href^="#"]:after {
    content: "";
  }

  .qrcode, .print-only {
    display: initial;
  }

  header > h1 {
    counter-reset: page;
    counter-increment: page;
    margin-top: 1cm;
    margin-bottom: 2cm !important;
  }

  header > h1 > a {
    font-size: 150%;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
    text-decoration: none !important;
  }

  p.caption {
    font-style: italic;
  }

  #print-footer {
    display: block;
    position: fixed;
    bottom: 0 pt;
    right: 0 pt;
    counter-increment: page;
  }

  #print-footer:after {
    /* content: counter(page); */
  }
}
